/* -------------------------------------------------------------------
	ОСНОВНЫЕ СТИЛИ
------------------------------------------------------------------- */

body { padding-top: 40px; position: relative; }

a:focus, a:hover, a:active { outline: 0; }
.btn:focus { outline: 0; }
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: 0; }


/* Ссылки
---------------------------------------------------- */
a.link-dashed 		{ border-bottom: 1px dashed #0088cc; }
a.link-dashed:hover { color: #005580; border-color: #005580; text-decoration: none; }

a.link-dotted 		{ border-bottom: 1px dotted #0088cc; }
a.link-dotted:hover { color: #005580; border-color: #005580; text-decoration: none; }


/* Заголовки
---------------------------------------------------- */
.page-header 		{ margin-top: 0; }
.page-header span 	{ color: #999999; }


/* Шапка сайта
---------------------------------------------------- */
.header 			{ position: relative; color: #ffffff; background-color: #00baf0; }


/* Футер
---------------------------------------------------- */
.footer 			{ border-top: 1px solid #eeeeee; background-color: #f5f5f5; }
.footer .copyright 	{ font-size: 12px; text-align: right; }


/* Stat
---------------------------------------------------- */
.stat-performance 			{ padding: 20px 0; }
.stat-performance table td 	{ width: 200px; vertical-align: top; }


/* Stream
---------------------------------------------------- */
.stream_loading 					{ background-color: #f5f5f5 url(../images/loader.gif) no-repeat center; }

.stream-list 						{ margin-bottom: 20px; }
.stream-list li.stream-item 		{ margin-bottom: 20px; min-height: 48px; _height: 48px; border-bottom: 1px solid #eeeeee; padding: 0 0 20px 63px; position: relative; }
.stream-list li.stream-item .avatar { position: absolute; top: 0; left: 0; }
.stream-list li.stream-item .date 	{ display: block; color: #999999; font-size: 12px; }
.stream-list li.stream-header-date 	{ font-size: 16px; color: #999999; margin: 40px 0 20px 0; padding-bottom: 5px; border-bottom: 1px solid #eeeeee; }

.stream-comment-preview 			{ padding: 5px 10px; margin-top: 10px; font-size: 12px; background-color: #f5f5f5; }


/* Userfields
---------------------------------------------------- */
.userfield-list li 							{ margin-bottom: 2px; padding: 10px; overflow: hidden; zoom: 1; color: #999999; background-color: #eeeeee; }
.userfield-list li .userfield_admin_name 	{ font-weight: bold; color: #333333; }


/* Misc
---------------------------------------------------- */
.poll-create 				{ padding: 15px 20px; margin-bottom: 20px; background-color: #eeeeee; }
.question-list li .span4	{ margin-right: 10px; }


.help 						{ display: none; position: relative; padding: 0 0 20px; margin: 13px 0 0; color: #999999; font-size: 12px; line-height: 18px; border: 1px solid #dddddd; background-color: #ffffff; }
.help:before 				{ display: block; content: ""; position: absolute; top: -12px; left: 15px; width: 0; height: 0; border-width: 6px; border-color: transparent transparent #ffffff transparent; border-style: solid; }
.help .help-col 			{ float: left; width: 44%; padding: 0 3%; margin: 0; font-weight: normal;}
.help .help-col.help-wide 	{ float: none; width: 94%; }
.help .help-item 			{ margin-bottom: 20px; }
.help .help-item:last-child { margin-bottom: 0; }

.help-block.span4 			{ margin-left: 0; }