/* -------------------------------------------------------------------
	БЛОКИ
------------------------------------------------------------------- */

.block 						{ padding: 20px; margin-bottom: 20px; border: 1px solid #eeeeee; }
.block:last-child 			{ margin-bottom: 0 !important; }

.block .block-header 		{ position: relative; }
.block .block-header h3 	{ margin-top: 0; line-height: 30px; }
.block .block-header h3 a 	{ color: #333333; }
.block footer 				{ margin-top: 15px; font-size: 12px; color: #999999; }

.block .max-height-200 		{ overflow: auto; max-height: 200px; _height: expression( this.scrollHeight > 200 ? "200px" : "auto" ); position: relative; }


/* Block Type - Stream */
.block .block-update 		{ position: absolute; top: 3px; right: 0; width: 16px; height: 16px; background: url(../images/update.gif) no-repeat; cursor: pointer; opacity: .3; }
.block .block-update:hover 	{ opacity: .5; }
.block .block-update.active { background-position: -16px 0; opacity: .5; }


/* Block Type - Profile */
.block.block-type-profile .profile-photo-wrapper 	{ position: relative; margin: 0 auto; min-height: 50px; max-width: 250px; }
.block.block-type-profile .profile-photo 			{ vertical-align: top; }
.block.block-type-profile .status 					{ position: absolute; top: 5px; left: 5px; padding: 0 5px; font-size: 11px; }
.block.block-type-profile .status.status-online 	{ background-color: #3fb618; color: #ffffff; }
.block.block-type-profile .status.status-offline 	{ background-color: #333333; color: #ffffff; opacity: .5; filter: alpha(opacity=50); }
.block.block-type-profile .upload-photo 			{ padding: 7px 10px 10px; margin: 0 auto; max-width: 230px; background-color: #eeeeee; }

.block.block-type-profile-note	 					{ background: #ffffcc; border: 1px solid #ffcc66; }
.block.block-type-profile-note .actions 			{ margin-bottom: 0; }

.block.block-type-profile-nav 						{ padding: 8px 0; }

.block.block-type-profile-actions ul li				{ margin-bottom: 5px; }
.block.block-type-profile-actions ul li:last-child	{ margin-bottom: 0; }
.block.block-type-profile-actions ul li a.followed	{ color: #b94a48; }


/* Block Type - Foldable */
.block.block-type-foldable 					{ background-color: #f5f5f5; }
.block.block-type-foldable .block-content 	{ display: none; margin-top: 10px; padding-top: 10px; border-top: 1px solid #eeeeee; }

/* Block Type - Blog */
.block.block-type-blog .block-content { color: #999; font-size: 12px; }