/* -------------------------------------------------------------------
	ФОРМЫ
------------------------------------------------------------------- */

form .icon-question-sign { cursor: help; }

.captcha-image { vertical-align: top; }

.form-profile 					{ position: relative; }
.form-profile .avatar-change 	{ position: absolute; top: 91px; right: 20px; font-size: 11px; }

.mceEditor { display: block; margin-bottom: 20px; }

.markItUpHeader ul { margin: 0; }
.markItUpContainer textarea { border-radius: 0 0 4px 4px; }

/* Валидатор (регистрация)
---------------------------------------------------------------*/
.validate-error-hide { display: none; }
.validate-error-show { display: block; color: #b94a48; font-size: 11px; }