/* -------------------------------------------------------------------
	ФОРМЫ
------------------------------------------------------------------- */

form .icon-question-sign { cursor: help; }

.note 				{ display: block; margin-top: 3px; font-size: 12px; color: #aaa; }
.note.note-header 	{ margin-bottom: 20px; }

.captcha-image 		{ vertical-align: top; }



.form-profile 					{ position: relative; }
.form-profile .avatar-change 	{ position: absolute; top: 91px; right: 20px; font-size: 11px; }

.mceEditor 			{ display: block; margin-bottom: 20px; }


/* Валидатор (регистрация)
---------------------------------------------------------------*/
.validate-error-hide { display: none; }
.validate-error-show { display: block; color: #c00; font-size: 11px; }