/* -------------------------------------------------------------------
	ФОРМЫ
------------------------------------------------------------------- */

textarea,
.input-text {
	width: 150px;
	padding: 5px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
		-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
		-o-transition: border linear 0.2s, box-shadow linear 0.2s;
			transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
.input-text:focus 	{
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.input-checkbox 	{ position: relative; top: 1px; margin: 0 2px 0 1px; }

.input-width-full 	{ width: 100%; }
.input-width-50 	{ width: 50px; }
.input-width-100 	{ width: 100px; }
.input-width-150 	{ width: 150px; }
.input-width-200 	{ width: 200px; }
.input-width-250 	{ width: 250px; }
.input-width-300 	{ width: 300px; }
.input-width-400 	{ width: 400px; }
.input-width-500 	{ width: 500px; }

textarea 			{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
select 				{ padding: 4px; background-color: #ffffff; border: 1px solid #cccccc; }
fieldset legend 	{ font-size: 18px; margin-bottom: 20px; }
form p 				{ margin-bottom: 20px; }
label 				{ display: block; margin-bottom: 5px; }

form .icon-question-sign { cursor: help; }

.note 				{ display: block; margin-top: 3px; font-size: 11px; color: #aaa; }
.note.note-header 	{ margin-bottom: 20px; }

.captcha-image 		{ vertical-align: top; }

dl.form-item 		{ overflow: hidden; zoom: 1; margin-bottom: 20px; }
dl.form-item dt 	{ float: left; width: 135px; padding-top: 4px; padding-right: 15px; overflow: hidden; }
dl.form-item dd 	{ float: left; width: 300px; }

.form-profile 					{ position: relative; }
.form-profile .avatar-change 	{ position: absolute; top: 58px; right: 20px; font-size: 11px; }

/* Placeholder */
:-moz-placeholder 	{ color: #aaa; }
.placeholder 		{ color: #aaa; }

.mceEditor 			{ display: block; margin-bottom: 20px; }


/* Валидатор 
---------------------------------------------------------------*/
.validate-error-hide { display: none; }
.validate-error-show { display: block; color: #c00; font-size: 11px; }