/* --------------------------------------------
	СЕТКА
-------------------------------------------- */

.container 			{ margin-right: auto; margin-left: auto; *zoom: 1; }
.container:before,
.container:after 	{ display: table; line-height: 0; content: ""; }
.container:after 	{ clear: both; }

.container,
.navbar-static-top .container,
.navbar-fixed-top .container { width: 940px; }


.header 			{ position: relative; padding: 40px 0; }
.header .container 	{ position: relative; z-index: 2; }


.footer 	{ padding: 30px 0; margin-top: 70px; }



#wrapper 	{ overflow: hidden; zoom: 1; }
#content 	{ float: left; width: 66%; margin-right: 2%; position: relative; }
#sidebar	{ float: left; width: 32%; }


#content.content-full-width { width: 100%; margin-right: 0; }

#content.content-right 		{ margin-right: 0; float: none; margin-left: 311px; width: auto; }
#sidebar.sidebar-left 		{ float: left; width: 250px; padding-right: 30px; border-right: 1px solid #eee; margin-right: 30px; }