/* --------------------------------------------
	СЕТКА
-------------------------------------------- */

.container,
.navbar-static-top .container,
.navbar-fixed-top .container { margin: 0 auto; width: 940px; }



#header 	{ padding: 30px 0; position: relative; overflow: hidden; }
#nav 		{ margin: 0 0 10px; overflow: hidden; }
#wrapper 	{ margin: 0 0 30px; background: #fff; overflow: hidden; zoom: 1; }
#content 	{ float: left; width: 66%; margin-right: 2%; background: #fff; position: relative; }
#sidebar	{ float: left; width: 32%; }
#footer 	{ padding: 30px 0; border-top: 1px solid #eee; overflow: hidden; zoom: 1; }

#content.content-full-width { width: 100%; margin-right: 0; }

#content.content-right 		{ margin-right: 0; float: none; margin-left: 311px; width: auto; }
#sidebar.sidebar-left 		{ float: left; width: 250px; padding-right: 30px; border-right: 1px solid #eee; margin-right: 30px; }