/* --------------------------------------------
	СЕТКА
-------------------------------------------- */

.container 			{ margin-right: auto; margin-left: auto; *zoom: 1; }
.container:before,
.container:after 	{ display: table; line-height: 0; content: ""; }
.container:after 	{ clear: both; }

.container,
.navbar-static-top .container,
.navbar-fixed-top .container { width: 940px; }


.row 			{ margin-left: -20px; *zoom: 1; }
.row:before,
.row:after 		{ display: table; line-height: 0; content: ""; }
.row:after 		{ clear: both; }

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.span12 	{ width: 940px; }
.span11 	{ width: 860px; }
.span10 	{ width: 780px; }
.span9 		{ width: 700px; }
.span8 		{ width: 620px; }
.span7 		{ width: 540px; }
.span6 		{ width: 460px; }
.span5 		{ width: 380px; }
.span4 		{ width: 300px; }
.span3 		{ width: 220px; }
.span2 		{ width: 140px; }
.span1 		{ width: 60px; }


.header 			{ position: relative; padding: 40px 0; }
.header .container 	{ position: relative; z-index: 2; }

.content { position: relative; }
.footer 	{ padding: 30px 0; margin-top: 70px; }



.content.content-full-width { width: 100%; margin-right: 0; }

.content.content-right 		{ margin-right: 0; float: none; margin-left: 311px; width: auto; }
.sidebar.sidebar-left 		{ float: left; width: 250px; padding-right: 30px; border-right: 1px solid #eee; margin-right: 30px; }