/* -------------------------------------------------------------------

	ИКОНКИ 
	
	Иконки Glyphicons
	http://glyphicons.com/

	
	Пример использования:
	
	<a href="#"><i class="icon icon-remove"></i> Remove</a>

------------------------------------------------------------------- */

[class^="icon-"],
[class*=" icon-"]  { 
	opacity: .3;
}

[class^="icon-"]:hover, 
[class*=" icon-"]:hover  { 
	opacity: .5;
}

.icon-contact				{ width: 16px; height: 16px; background: url(../images/icons-contact.png) no-repeat; opacity: 1; }
.icon-contact:hover			{ opacity: 1; } 
.icon-contact-default		{ background-position: 0 0; } 
.icon-contact-mail			{ background-position: -20px 0; } 
.icon-contact-icq			{ background-position: -40px 0; } 
.icon-contact-jabber		{ background-position: -60px 0; } 
.icon-contact-phone			{ background-position: -80px 0; } 
.icon-contact-skype			{ background-position: -100px 0; } 
.icon-contact-vkontakte		{ background-position: -120px 0; } 
.icon-contact-twitter		{ background-position: -140px 0; } 
.icon-contact-facebook		{ background-position: -160px 0; } 
.icon-contact-odnoklassniki	{ background-position: -180px 0; } 
.icon-contact-www			{ background-position: -200px 0; } 

.icon-ok-green				{ width: 14px; height: 14px; background: url(../images/icon-ok-green.png) no-repeat; opacity: 1; }
.icon-ok-green:hover		{ opacity: 1; }