/* --------------------------------------------
	МОДАЛЬНЫЕ ОКНА
-------------------------------------------- */

.modal 				{ display: none; }
.modal-body form 	{ margin-bottom: 0; }


.jqmOverlay 	{ background-color: #000; }
* html .modal 	{ position: absolute; top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px'); }


/* Форма входа */
.modal.modal-login .modal-body 	{ max-height: 600px; }


/* Добавление топика */
.modal.modal-write .write-list li 					{ text-align: center; }
.modal.modal-write .write-list li .write-item-image { display: block; width: 100px; height: 100px; background: url(../images/write.png) no-repeat; margin-bottom: 10px; }

.modal.modal-write .write-list li.write-item-type-topic .write-item-image 		{ background-position: 0 0; }
.modal.modal-write .write-list li.write-item-type-poll .write-item-image 		{ background-position: -100px 0; }
.modal.modal-write .write-list li.write-item-type-link .write-item-image 		{ background-position: -200px 0; }
.modal.modal-write .write-list li.write-item-type-photoset .write-item-image 	{ background-position: -300px 0; }
.modal.modal-write .write-list li.write-item-type-blog .write-item-image 		{ background-position: -400px 0; }
.modal.modal-write .write-list li.write-item-type-draft .write-item-image 		{ background-position: -500px 0; }