/* --------------------------------------------
	НАВИГАЦИЯ
-------------------------------------------- */

/* Navbar */
.navbar .nav > li > a img.avatar { width: 20px; height: 20px; vertical-align: top; }

.navbar-search 					{ position: relative; float: left; margin-top: 5px; margin-bottom: 0; }


/* Nav Main */
.nav.nav-main 					{ margin-top: 10px; }
.nav.nav-main > li 				{ float: left; }
.nav.nav-main > li > a 			{ padding: 6px 12px; margin-right: 6px; color: #ffffff; background-color: #007fff; }
.nav.nav-main > li > a:hover,
.nav.nav-main > .active > a 	{ background-color: #0072e6; }


/* Sub Menu */
.subnav 					{ margin-bottom: 40px; overflow: hidden; }

.subnav-inner 				{ min-height: 40px; padding-right: 20px; padding-left: 20px; background-color: #eeeeee; }
.subnav-inner:before,
.subnav-inner:after 		{ display: table; line-height: 0; content: ""; }
.subnav-inner:after 		{ clear: both; }

.subnav .container 			{ width: auto; }

.subnav .nav 				{ position: relative; left: 0; display: block; float: left; margin: 0 10px 0 0; }
.subnav .nav.pull-right 	{ float: right; margin-right: 0; }

.subnav .nav > li 					{ float: left; }
.subnav .nav > li > a 				{ float: none; padding: 10px 15px; color: #555555; }
.subnav .nav > li > a:focus,
.subnav .nav > li > a:hover 		{ background-color: rgba(0, 0, 0, 0.05); }
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover,
.subnav .nav > .active > a:focus 	{ background-color: rgba(0, 0, 0, 0.05); }

.subnav-fluid 				{ right: 0; left: 0; }
.subnav-fluid .subnav-inner { padding-right: 0; padding-left: 0; }
.subnav-fluid .container 	{ width: 940px; }


/* Dropdown */
.dropdown-create 		{ position: relative; }
.dropdown-create h2 a 	{ text-transform: lowercase; }