/* --------------------------------------------
	СТРАНИЦА ПОЛЬЗОВАТЕЛЯ
-------------------------------------------- */

.profile 				{ min-height: 48px; margin-bottom: 10px; padding: 0 0 20px 65px; position: relative; }

.profile .avatar 		{ position: absolute; top: 0; left: 0; }

.profile .vote-label	{ text-align: center; font-size: 11px; color: #aaa; }
.profile .count 		{  }

.profile .vote 									{ float: right; margin-left: 20px; }
.profile .vote .vote-count 						{  }

.profile .vote.vote-count-positive .vote-count 	{  }

.profile .strength 					{ float: right; }

.profile .user-login 				{ width: 270px; margin-bottom: 5px; }
.profile .user-login.no-user-name 	{ position: relative; top: 9px; }
.profile .user-name 				{ color: #777; }

.profile-info-about { padding: 13px 20px 20px; background: #ffc; margin-bottom: 30px; }
.profile-info-about h3 { font-size: 18px; margin-bottom: 5px; }