/* --------------------------------------------
	СТРАНИЦА ПОЛЬЗОВАТЕЛЯ
-------------------------------------------- */

.profile 				{ min-height: 48px; margin-bottom: 20px; padding: 0 0 0 65px; position: relative; }

.profile .avatar 		{ position: absolute; top: 0; left: 0; }

.profile .vote-label	{ color: #999999; font-size: 12px; text-align: center; }
.profile .count 		{ color: #007fff; font-size: 12px; }

.profile .vote 			{ float: right; margin-left: 20px; }
.profile .strength 		{ float: right; }

.profile .user-login 				{ margin: 0; padding-right: 160px; }
.profile .user-login.no-user-name 	{ position: relative; }
.profile .user-name 				{ color: #999999; }

.profile-info-about 	{ padding: 15px 20px 20px; background: #ffffcc; margin-bottom: 40px; }