/* -------------------------------------------------------------------
	ТАБЛИЦЫ
------------------------------------------------------------------- */

.table th 					{ font-size: 12px; }

.table thead a 				{ text-decoration: none; }
.table thead a span 		{ border-bottom: 1px dotted #007fff; }

.table a.asc:after			{ content: " ↑"; }
.table a.desc:after			{ content: " ↓"; }


/* Table Plugins */
.table tr.active td,
.table tr.active:hover td 	{ background: #dfffdf; }


/* Table Blogs */
.table.table-blogs 						{ margin-bottom: 40px; }

.table.table-blogs .cell-name .avatar 	{ float: left; margin-right: 10px; clear: right; width: 36px; height: 36px; }
.table.table-blogs .cell-name p			{ overflow: hidden; }

.table.table-blogs .cell-join 			{ width: 130px; text-align: center; vertical-align: middle; }
.table.table-blogs .cell-readers,
.table.table-blogs .cell-rating 		{ width: 70px; text-align: center; vertical-align: middle; }

.table.table-blogs  tbody .cell-join 	{ font-size: 12px; }
.table.table-blogs  tbody .cell-readers { font-size: 12px; font-weight: bold; }
.table.table-blogs  tbody .cell-rating 	{ font-size: 12px; font-weight: bold; color: #468847; }


/* Table Users */
.table.table-users 								{ margin-bottom: 40px; }

.table.table-users .cell-name .avatar 			{ float: left; }
.table.table-users .cell-name .username 		{ margin: 0 0 0 32px; width: 120px; position: relative; top: 2px; }

.table.table-users .cell-rating,
.table.table-users .cell-skill 					{ text-align: center; width: 55px; }

.table.table-users tbody .cell-date 			{ font-size: 12px; color: #999; }
.table.table-users tbody .cell-skill 			{ font-size: 12px; font-weight: bold; color: #0088cc; }
.table.table-users tbody .cell-rating 			{ font-size: 12px; font-weight: bold; color: #468847; }
.table.table-users tbody .cell-rating.negative	{ color: #b94a48; }


/* Table Talk */
.table.table-talk .cell-checkbox 		{ width: 16px; }
.table.table-talk .cell-favourite 		{ width: 16px; text-align: center; }
.table.table-talk .cell-recipients 		{ width: 130px; }

.table.table-talk tbody .cell-date 		{ font-size: 12px; width: 150px; color: #999999; }


/* Table Profile Notes */
.table.table-profile-notes .cell-username 	{ width: 20%; }
.table.table-profile-notes .cell-note 		{ width: 50%; }
.table.table-profile-notes .cell-date 		{ text-align: right; color: #999999; font-size: 12px; }


/* Table Profile Info */
.table.table-profile-info 				{ margin-bottom: 40px; }
.table.table-profile-info .cell-label 	{ color: #999999; width: 30%; }

/* Table Plugins */
.table.table-plugins .cell-checkbox 	{ width: 16px; }