/* -------------------------------------------------------------------
	ФОРМАТИРОВАННЫЙ ТЕКСТ
------------------------------------------------------------------- */

.text { overflow: hidden; zoom: 1; }

.text a 		{ text-decoration: underline; }
.text a:hover 	{ text-decoration: none; }
.text a:visited { color: #993399; }


.text q { quotes: none; }

.text q:before,
.text q:after,
.text blockquote:before,
.text blockquote:after { content: ""; }

.text dfn { font-style: italic; }
.text hr { display: block; height: 1px; border: 0; border-top: 1px solid #eeeeee; margin: 1em 0; padding: 0; }
.text ins { background: #ff9; color: #000; text-decoration: none; }
.text mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }


.text img[align="right"] { margin: 4px 0 10px 15px; }
.text img[align="left"] { margin: 4px 15px 10px 0; }
.text img.image-center { display: block; margin: 0 auto; }

.text object,
.text img { max-width: 100%; }