/* --------------------------------------------
	ТОПИК
-------------------------------------------- */

.topic 				{ overflow: hidden; zoom: 1; margin-bottom: 40px; }


/* Header */
.topic .topic-header .topic-title 				{ margin-top: 0; }
.topic .topic-header .topic-title i 			{ cursor: help; }
.topic .topic-header .topic-info 				{ margin-bottom: 10px; color: #999999; font-size: 12px; }
.topic .topic-header .topic-info .topic-blog 	{ margin-right: 10px; font-weight: bold; }
.topic .topic-header .topic-info time 			{ margin-right: 10px; }
.topic .topic-header .topic-info .actions,
.topic .topic-header .topic-info .actions li	{ display: inline; float: none; }


/* Content */
.topic .topic-content 	{ margin-bottom: 10px; }


/* Topic Link */
.topic .topic-url 		{ margin-bottom: 10px; }
.topic .topic-url a 	{ color: #468847; }


/* Tags */
.topic .topic-footer .topic-tags 						{ margin-bottom: 5px; font-size: 12px; color: #999999; }
.topic .topic-footer .topic-tags li 					{ padding: 0; }
.topic .topic-footer .topic-tags li i 					{ margin-right: 3px; }

.topic .topic-footer .topic-tags li.topic-tags-edit 	{ margin-left: 10px; }
.topic .topic-footer .topic-tags li.topic-tags-user a 	{ color: #468847; }


/* Info */
.topic .topic-footer .topic-info 								{ font-size: 12px; padding-top: 5px; border-top: 1px solid #eeeeee; }
.topic .topic-footer .topic-info li.vote 						{ padding-right: 0; }
.topic .topic-footer .topic-info li.topic-info-author 			{ padding-left: 0; }
.topic .topic-footer .topic-info li.topic-info-author a 		{ font-weight: bold; }
.topic .topic-footer .topic-info li.topic-info-comments span 	{ color: #999999; }
.topic .topic-footer .topic-info li.topic-info-share a 			{ position: relative; top: -1px; }


/* Share */
.topic .topic-share { display: none; padding: 3px; margin-bottom: 10px; border: 1px solid #eeeeee; }


/* Poll */
.topic .poll { margin-bottom: 20px; }

.topic .poll .poll-vote 					{ margin-bottom: 20px; }
.topic .poll .poll-vote li 					{ margin-bottom: 10px; }
.topic .poll .poll-vote li:last-child 		{ margin-bottom: 0; }
.topic .poll .poll-result li dl 			{ overflow: hidden; zoom: 1; }
.topic .poll .poll-result li dl dt 			{ float: left; width: 50px; }
.topic .poll .poll-result li dl dt span 	{ color: #999999; font-size: 12px; font-weight: normal; }
.topic .poll .poll-result li dl dd 			{ float: left; width: 400px; }

.topic .poll .poll-result li dl dd div 		{ height: 6px; margin-top: 8px; background-color: #eeeeee; overflow: hidden; }
.topic .poll .poll-result li.most dl dd div { background-color: #468847; }

.topic .poll .poll-total 					{ color: #999999; font-size: 12px; margin-left: 10px; }


/* Topic Photo */
.topic.topic-type-photoset .topic-photo-preview 					{ position: relative; margin-bottom: 20px; cursor: pointer; }
.topic.topic-type-photoset .topic-photo-preview img 				{ vertical-align: top; }

.topic.topic-type-photoset .topic-photo-preview .topic-photo-count 	{ display: none; cursor: pointer; position: absolute; top: 5px; right: 5px; font-size: 12px; color: #3fb618; padding: 4px 7px; background: rgba(0,0,0,.6); }
.topic.topic-type-photoset .topic-photo-preview .topic-photo-desc 	{ display: none; width: 96%; padding: 7px 2%; position: absolute; bottom: 0; left: 0; color: #ffffff; font-size: 12px; line-height: 16px; background: rgba(0,0,0,.7); }

.topic.topic-type-photoset .topic-photo-images 						{ padding-top: 10px; margin-bottom: 10px; }
.topic.topic-type-photoset .topic-photo-images h2 					{ border-bottom: 1px solid #eee; }
.topic.topic-type-photoset .topic-photo-images ul li 				{ margin-bottom: 10px; }

.topic.topic-type-photoset .topic-photo-images .topic-photo-more 		{ display: block; text-align: center; padding: 12px 0; margin-bottom: 10px; text-decoration: none; background-color: #eeeeee; color: #999999; }
.topic.topic-type-photoset .topic-photo-images .topic-photo-more:hover 	{ background-color: #e6e6e6; }

.topic-photo-upload 								{ background-color: #eeeeee; padding: 15px; margin-bottom: 20px; }
.topic-photo-upload ul 								{ overflow: hidden; zoom: 1; }
.topic-photo-upload ul li 							{ min-height: 100px; _height: 100px; margin-bottom: 10px; padding-left: 110px; position: relative; font-size: 12px; }
.topic-photo-upload ul li img 						{ position: absolute; top: 0; left: 0; }
.topic-photo-upload ul li label 					{ color: #999999; }
.topic-photo-upload ul li textarea 					{ height: 60px; -moz-box-sizing: border-box; display: block; width: 100%; }
.topic-photo-upload ul li .image-delete 			{ margin-right: 10px; color: #b94a48; }
.topic-photo-upload ul li .mark-as-preview 			{ display: none; }
.topic-photo-upload ul li:hover .mark-as-preview 	{ display: inline; }
.topic-photo-upload .topic-photo-upload-rules 		{ color: #999999; font-size: 12px; line-height: 16px; margin-bottom: 20px; }


/* Topic Talk */
.topic.topic-type-talk .talk-recipients 		{ padding: 10px 15px; background: #f5f5f5; }
.topic.topic-type-talk .talk-recipients-header 	{ font-size: 12px; }

.talk-search .talk-search-content 				{ border-top: 1px solid #eeeeee; display: none; padding-top: 10px; margin-top: 10px; }


/* Topic Preview */
.topic-preview { margin-top: 40px; }