/* --------------------------------------------
	СТЕНА
-------------------------------------------- */

.wall-submit 									{ margin-bottom: 20px; padding: 15px; position: relative; background-color: #f5f5f5; }
.wall-submit .counter 							{ bottom: 18px; color: #999999; position: absolute; right: 15px; }

.wall-submit.wall-submit-reply 					{ margin: 2px 0 2px 20px; padding: 15px; background: #f5f5f5; }
.wall-submit.wall-submit-reply textarea 		{ height: 28px; *height: 16px; *width: 590px; margin: 0; }
.wall-submit.wall-submit-reply button 			{ display: none; }
.wall-submit.wall-submit-reply.active textarea 	{ height: 80px; margin-bottom: 10px; }
.wall-submit.wall-submit-reply.active button 	{ display: block; }
.wall-submit.wall-submit-reply .counter 		{ display: none; }
.wall-submit.wall-submit-reply.active .counter 	{ display: block; }

.comments.wall, .wall .comment 					{ margin-bottom: 2px; }

.comment.wall-comment-reply 					{ min-height: 0; padding-left: 55px; }
.comment.wall-comment-reply .comment-avatar 	{ width: 30px; height: 30px; }