/* -------------------------------------------------------------------
	ОСНОВНЫЕ СТИЛИ
------------------------------------------------------------------- */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background: #ffffff;
}


/* Ссылки
---------------------------------------------------- */
a 					{ color: #007fff; text-decoration: none; }
a:hover 			{ color: #0066cc; text-decoration: underline; }


/* Заголовки
---------------------------------------------------- */
h1 { font-size: 26px; line-height: 30px; }
h2 { font-size: 24px; line-height: 28px; }
h3 { font-size: 22px; line-height: 26px; }
h4 { font-size: 19px; }
h5 { font-size: 18px; }
h6 { font-size: 17px; }

.page-header { padding-bottom: 9px; margin: 0 0 20px; border-bottom: 1px solid #eeeeee; }


/* Разное
---------------------------------------------------- */
.lead { margin-bottom: 20px; font-size: 18px; line-height: 30px; }

.pull-left 	{ float: left; }
.pull-right { float: right; }

.well { padding: 8px 0 8px 0 !important; background-color: #eeeeee; min-height: 20px; }