/* -------------------------------------------------------------------
	ОСНОВНЫЕ СТИЛИ
------------------------------------------------------------------- */

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	background: #ffffff;
}


/* Ссылки
---------------------------------------------------- */
a 					{ color: #369; }
a:hover 			{ text-decoration: none; }

a.link-dashed 		{ border-bottom: 1px dashed #369; text-decoration: none; }
a.link-dashed:hover { color: #939; border-color: #939; }

a.link-dotted 		{ border-bottom: 1px dotted #369; text-decoration: none; }
a.link-dotted:hover { color: #939; border-color: #939; }

a.edit 				{ color: #393; }
a.delete 			{ color: #c00; }

.text a:visited 	{ color: #939; }


/* Заголовки
---------------------------------------------------- */
h2.page-header 		{ font-size: 26px; line-height: 1em; margin-bottom: 20px; }
h2.page-header span { color: #aaa; }

h2.header-table 	{ margin-bottom: 0; border-bottom: 1px solid #eee; padding-bottom: 5px; font-size: 18px; }




.pull-left 	{ float: left; }
.pull-right { float: right; }