/* -------------------------------------------------------------------
	ОБЩИЕ СТИЛИ
------------------------------------------------------------------- */


/* Пагинация 
---------------------------------------------------- */
.pagination 					{ margin: 0 0 20px 0; }
.pagination ul 					{ display: inline-block; *display: inline; *zoom: 1; }
.pagination ul > li 			{ display: inline; }
.pagination ul > li > a,
.pagination ul > li > span 		{ float: left; padding: 4px 12px; margin-right: 6px; line-height: 20px; text-decoration: none; }
.pagination ul > li > a 		{ color: #555555; background-color: #dfdfdf; }
.pagination ul > li > a:hover 	{ color: #ffffff; background-color: #080808; }
.pagination ul > li > span 		{ color: #999999; background-color: #eeeeee; }
.pagination ul > .active > span { color: #ffffff; background-color: #007fff; }