/* -------------------------------------------------------------------
	ТАБЛИЦЫ
------------------------------------------------------------------- */

.table 			{ width: 100%; margin-bottom: 20px; }
.table th,
.table td 		{ padding: 8px; line-height: 20px; text-align: left; vertical-align: top; border-top: 1px solid #dddddd; }
.table th 		{ font-weight: bold; }
.table thead th { vertical-align: bottom; }

.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td { border-top: 0; }

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th { background-color: #f5f5f5; }