/* Navbar */
.navbar .nav > li > a.new-messages 			{ color: #ff7518; }
.navbar .nav > li > a.new-messages:hover 	{ color: #3fb618; }

/* Table Blogs */
.table.table-blogs { margin-bottom: 50px; }


/* Table Users */
.table.table-users { margin-bottom: 50px; }

/* Table Profile Info */
.table.table-profile-info 				{ margin-bottom: 40px; }
.table.table-profile-info .cell-label 	{ color: #999999; }