/* Userbar */
.nav.nav-userbar li.nav-userbar-username a 			{ position: relative; padding-left: 42px; font-weight: bold; color: #333; }
.nav.nav-userbar li.nav-userbar-username .avatar 	{ position: absolute; top: 2px; left: 10px; }
.nav.nav-userbar li .new-messages 					{ color: #393; }